@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

ul,
ol {
	list-style-type: none;
}

.root {
	margin: 0px;
	padding: 0px;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
}

.container {
	display: flex;
	align-items: center;
	width: 1320px;
	margin: 0px auto;
}

.container a:hover {
	transition-delay: 0.1s;
	opacity: 0.7;
}

.logo {
	display: block;
	width: 50px;
	height: 50px;
}

.navbar {
	display: flex;
	align-items: center;
	background-color: #000000;
	color: white;
	font-size: 21px;
}

.navbar a {
	text-decoration: none;
	color: inherit;
}

.navbar-brand {
	margin-left: 30px;
	margin-right: 30px;
	font-weight: 700;
}

.listCover {
	display: flex;
	align-items: center;
}

.body-content-about {
	display: flex;
	justify-content: space-around;
}

.body-container-about {
	width: 1320px;
}

.title-1 {
	font-weight: 700;
	font-size: 60px;
	margin-top: 80px;
	margin-bottom: 20px;
}

.p-1 {
	width: 70%;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 40px;
}

.title-2 {
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 20px;
}

.p-2 {
	width: 70%;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 80px;
}

.title-3 {
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 40px;
}

.person1 {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.ava1 {
	width: 50%;
	border-radius: 5%;
}

.ava-description-1 {
	margin-left: 40px;
	font-size: 36px;
}

.person2 {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.ava-description-2 {
	margin-left: 40px;
	font-size: 36px;
}

.person3 {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.ava-description-3 {
	margin-left: 40px;
	font-size: 36px;
}

.person4 {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.ava-description-4 {
	margin-left: 40px;
	font-size: 36px;
}

footer p {
	margin: 0;
	font-size: 24px;
	display: flex;
	justify-content: end;
	margin-right: 20px;
	margin-bottom: 20px;
}
