@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

ul,
ol {
	list-style-type: none;
}

.root {
	margin: 0px;
	padding: 0px;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
}

.container {
	display: flex;
	align-items: center;
	width: 1320px;
	margin: 0px auto;
}

.container a:hover {
	transition-delay: 0.1s;
	opacity: 0.7;
}

.logo {
	display: block;
	width: 50px;
	height: 50px;
}

.navbar {
	display: flex;
	align-items: center;
	background-color: #000000;
	color: white;
	font-size: 21px;
}

.navbar a {
	text-decoration: none;
	color: inherit;
}

.navbar-brand {
	font-weight: 700;
}

.navbar-item {
	margin-right: 30px;
}

.listCover {
	display: flex;
	align-items: center;
}

.list {
	list-style-type: none;
}

.info .container {
	display: block;
	margin-top: 80px;
	margin-bottom: 80px;
}

.article {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	font-size: 60px;
}

.info-list {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
}

.item {
	margin-bottom: 20px;
}

footer p {
	position: absolute;
	right: 20px;
	bottom: 20px;
	margin: 0;
	padding: 0;
	font-size: 24px;
}
